In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('data/E-commerce.csv') # load csv into the env as a pandas dataFrame

In [ ]:
df.head() # prints out the first 5 rows of the dataset

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130

In [ ]:
df.tail() # prints out the last 5 rows of the dataset

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169

In [ ]:
df.info() # prints out column names, non-null counts and respective data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   int64
dtypes: float64(7), int64(8), object(5)
memory usage: 879.8+ KB

In [ ]:
df.shape #prints out the number of rows and columns (5630 rows, 20 columns)

(5630, 20)

In [ ]:
df.describe(include='all').T # a statistical summary of the dataset

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
CustomerID,5630.0,NaN,NaN,NaN,52815.5,1625.385339,50001.0,51408.25,52815.5,54222.75,55630.0
Churn,5630.0,NaN,NaN,NaN,0.168384,0.37424,0.0,0.0,0.0,0.0,1.0
Tenure,5366.0,NaN,NaN,NaN,10.189899,8.557241,0.0,2.0,9.0,16.0,61.0
PreferredLoginDevice,5630,3,Mobile Phone,2765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CityTier,5630.0,NaN,NaN,NaN,1.654707,0.915389,1.0,1.0,1.0,3.0,3.0
WarehouseToHome,5379.0,NaN,NaN,NaN,15.639896,8.531475,5.0,9.0,14.0,20.0,127.0
PreferredPaymentMode,5630,7,Debit Card,2314,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,5630,2,Male,3384,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HourSpendOnApp,5375.0,NaN,NaN,NaN,2.931535,0.721926,0.0,2.0,3.0,3.0,5.0
NumberOfDeviceRegistered,5630.0,NaN,NaN,NaN,3.688988,1.023999,1.0,3.0,4.0,4.0,6.0
PreferedOrderCat,5630,6,Laptop & Accessory,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SatisfactionScore,5630.0,NaN,NaN,NaN,3.066785,1.380194,1.0,2.0,3.0,4.0,5.0
MaritalStatus,5630,3,Married,2986,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NumberOfAddress,5630.0,NaN,NaN,NaN,4.214032,2.583586,1.0,2.0,3.0,6.0,22.0
Complain,5630.0,NaN,NaN,NaN,0.284902,0.451408,0.0,0.0,0.0,1.0,1.0
OrderAmountHikeFromlastYear,5365.0,NaN,NaN,NaN,15.707922,3.675485,11.0,13.0,15.0,18.0,26.0
CouponUsed,5374.0,NaN,NaN,NaN,1.751023,1.894621,0.0,1.0,1.0,2.0,16.0
OrderCount,5372.0,NaN,NaN,NaN,3.008004,2.93968,1.0,1.0,2.0,3.0,16.0
DaySinceLastOrder,5323.0,NaN,NaN,NaN,4.543491,3.654433,0.0,2.0,3.0,7.0,46.0
CashbackAmount,5630.0,NaN,NaN,NaN,177.221492,49.193869,0.0,146.0,163.0,196.0,325.0

In [8]:
# divide columns into numeric and categorical columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
categorical_cols = df.select_dtypes(include='object').columns

In [ ]:
#numerical columns
cols = [col for col in numeric_cols[1:]] # ignore customerID column
print(f'Numerical columns: {cols} - {len(cols)}')

Numerical columns: ['Churn', 'Tenure', 'CityTier', 'WarehouseToHome', 'HourSpendOnApp', 'NumberOfDeviceRegistered', 'SatisfactionScore', 'NumberOfAddress', 'Complain', 'OrderAmountHikeFromlastYear', 'CouponUsed', 'OrderCount', 'DaySinceLastOrder', 'CashbackAmount'] - 14

In [16]:
for cols in numeric_cols[1:]:
    print(f'{cols:<27} - Min: {df[cols].min():<12} - Max: {df[cols].max()}')

Churn                       - Min: 0            - Max: 1
Tenure                      - Min: 0.0          - Max: 61.0
CityTier                    - Min: 1            - Max: 3
WarehouseToHome             - Min: 5.0          - Max: 127.0
HourSpendOnApp              - Min: 0.0          - Max: 5.0
NumberOfDeviceRegistered    - Min: 1            - Max: 6
SatisfactionScore           - Min: 1            - Max: 5
NumberOfAddress             - Min: 1            - Max: 22
Complain                    - Min: 0            - Max: 1
OrderAmountHikeFromlastYear - Min: 11.0         - Max: 26.0
CouponUsed                  - Min: 0.0          - Max: 16.0
OrderCount                  - Min: 1.0          - Max: 16.0
DaySinceLastOrder           - Min: 0.0          - Max: 46.0
CashbackAmount              - Min: 0            - Max: 325

**Numerical Columns Description**
Churn : Target variable (0 = customer stayed, 1 = customer churned/left)
Tenure : How long the customer has stayed with the company
CityTier : Classification of the city where the customer lives
WarehouseToHome : Distance between the warehouse and the customer's home
HoursSpendOnApp : Average hours the customer spends on the app per day/week
NumberOfDeviceRegistered : Number of devices registered to a cutomer's account
SatisfactionScore: A customer's satisfaction rating 
NumberOfAddress : How many addresses the customer has saved
Complain : Whether the customer has filed a complaint or not
OrderAmountHikeFromlastYear : Percentage increase in order compared to last year
CouponUsed : Number of coupons used by the customer
OrderCount : Number of orders placed by the customer
DaysSinceLastOrder : Number of days since the customer's last order
CashbackAmount : Total cashback the customer has received

In [ ]:
#categorical columns
cols = [col for col in categorical_cols]
print(f'Categorical columns : {cols} - {len(cols)}')